<%= link_to '新規タスク作成', new_task_path %>

<select id="index_sort">
  <option value="0">ソート：選択してください</option>
  <option value="due_ASC">終了期限：昇順</option>
  <option value="due_DESC">終了期限：降順</option>
  <option value="priority_ASC">優先順位：昇順</option>
  <option value="priority_DESC">優先順位：降順</option>
  <option value="created_at_ASC">登録日時：昇順</option>
  <option value="created_at_DESC">登録日時：降順</option>
</select>

<%= form_with(url: tasks_path, method: :get, local: true) do |form| %>
<td><%= form.label :name_search %></td>
<td><%= form.text_field :name_search %></td>
<td><%= form.label :status_search %></td>
<td><%= form.text_field :status_search %></td>
<td><%= form.submit :search %></td>
<% end %>

<div>
  <table>
    <tr>
      <td><%= t('view.task_name') %></td>
      <td><%= t('view.task_description') %></td>
      <td><%= t('view.task_due') %></td>
      <td><%= t('view.task_status') %></td>
      <td><%= t('view.task_priority') %></td>
      <td><%= t('view.task_created_at') %></td>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td class="task_row"><%= link_to "#{task.name}", task_path(task.id) %></td>
        <td><%= task.description %></td>
        <td class="task_due_row">
          <% if task.due %>
            <%= task.due.strftime("%Y年%m月%d日 %H:%M") %>
          <% end %>
        </td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
        <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('view.delete'), task_path(task.id), method: :delete ,data: {confirm: '本当に削除していいですか？'} %></td>
      </tr>
    <% end %>

  </table>
  <%= paginate @tasks %>
</div>
