<div class="container">
  <table class="table">
    <tr>
      <th><%= t('view.task_name') %>:</th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th><%= t('view.task_description') %>:</th>
      <td><%= @task.description %></td>
    </tr>
    <% if @task.due %>
      <tr>
        <th><%= t('view.task_due') %>:</th>
        <td><%= @task.due.strftime("%Y年%m月%d日 %H:%M") %> </td>
      </tr>
    <% end %>
    <tr>
      <th><%= t('view.task_status') %>: </th>
      <td><%= @task.status %></td>
    </tr>
    <tr>
      <th><%= t('view.task_priority') %>:</th>
      <td><%= @task.priority_i18n %></td>
    </tr>
    <tr>
      <th>ラベル:</th>
      <td>
        <% @task.labels.each do |label| %>
          <label class="label label-default"><%= label.name %></label>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>添付ファイル</th>
      <td>
        <% @task.attached_files.each do |attached_file| %>
          <li><%= link_to "#{attached_file.filename}", rails_blob_path(attached_file) %></li>
        <% end %>
      </td>
    </tr>
  </table>
  
  <%= link_to t('view.edit'), edit_task_path(@task) %>
  <%= link_to t('view.back'), tasks_path %>
</div>
