<div class ="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          グループ一覧
        </div>

        <div class="col-xs-6 text-right">
          <%= link_to t('view.create_new_group'), new_group_path, class: "btn btn-primary btn-xs" %>
        </div>
      </div>
    </div>
      <table class="table panel-body">
        <tr>
          <th><%= t('view.group_name') %></th>
          <th><%= t('view.group_description') %></th>
          <th><%= t('view.group_user') %></th>
        </tr>

        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to "#{group.name}", group_path(group.id) %></td>
            <td><%= group.description %></td>
            <td><%= group.user.name %></td>
            <td>
              <% if not current_user.joined_groups.ids.include?(group.id) %>
                <%= link_to t('view.group_join'), group_relations_path(group_id: group.id), method: :post %>
              <% else %>
                <%= link_to t('view.group_exit'), group_relation_path(current_user.group_relations.find_by(group_id: group.id).id), method: :delete %>
              <% end %>
            </td>
            <td><%= link_to t('view.edit'), edit_group_path(group.id) if current_user == group.user %></td>
            <td><%= link_to t('view.delete'), group_path(group.id), method: :delete ,data: {confirm: '本当に削除していいですか？'} if current_user == group.user %></td>
          </tr>
        <% end %>
      </table>

  </div>
</div>
