<div class ="container">
  <h2><%= @user.name %>のページ</h2>
  <table class="table">
    <tr>
      <th>名前:</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス:</th>
      <td><%= @user.email %></td>
    </tr>

  </table>

  <table class="table">
    <% if @user.tasks.any? == true %>
    <tr>
      <th><%= t('view.task_name') %></th>
      <th><%= t('view.task_description') %></th>
      <th><%= t('view.task_due') %></th>
      <th><%= t('view.task_status') %></th>
      <th><%= t('view.task_priority') %></th>
      <th>ユーザー</th>
      <th><%= t('view.task_created_at') %></th>
      <th></th>
      <th></th>
    </tr>

    <% @user.tasks.each do |task| %>
      <tr>
        <td class="task_name_row"><%= link_to "#{task.name}", task_path(task.id) %></td>
        <td class="task_description_row"><%= task.description %></td>
        <td class="task_due_row">
          <% if task.due %>
            <%= task.due.strftime("%Y年%m月%d日 %H:%M") %>
          <% end %>
        </td>
        <td class="task_status_row"><%= task.status %></td>
        <td class="task_priority_row"><%= task.priority_i18n %></td>
        <td class="user_id_row"><% if task.user %><%= task.user.name %><% end %></td>
        <td class="task_created_at_row"><%= task.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
        <td class="task_due_row"><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('view.delete'), task_path(task.id), method: :delete ,data: {confirm: '本当に削除していいですか？'} %></td>
      </tr>
    <% end %>

    <% end %>
  </table>
</div>
